@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --primary-color: #5b0888;
    --secondary-color: #e5cff7;
}

html{
    transition: all 0.5s ease-in;
    background-color: var(--secondary-color);
}

html.light{
    --primary-color: #e5cff7;
    --secondary-color: #5b0888;
}

html.light{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.mode{
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 0;
    border-radius: 4px;
    padding: 8px 12px;
    position: absolute;
    top: 100px;
}

.mode:focus{
    outline: none;
}

.clock-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.clock-body{
    position: relative;
    width: 200px;
    height: 200px;
}

.clock{
    background-color: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    height: 65px;
    width: 3px;
    transform-origin: bottom center;
    transition: all 0.5s ease-in linear;
}

.clock.hour{
    transform: translate(-50%, -100%) rotate(0deg);
}
.clock.minute{
    transform: translate(-50%, -100%) rotate(0deg);
    height: 100px;
}
.clock.second{
    transform: translate(-50%, -100%) rotate(0deg);
    height: 100px;
    background-color: #a06de8;
}

.center-point{
    background-color: #a06de8;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.center-point::after{
    content: '';
    background-color: var(--primary-color);
    width: 5px;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.time{
    color: var(--primary-color);
    font-size: 60px;
}

.date{
    color: #bba6d7;
    font-size: 18px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

.date.circle{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 50%;
    height: 18px;
    width: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 18px;
    transition: all 0.5s ease-in;
    font-size: 12px;
}

/*text-color: #713abe*/