@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
:root{
    --line-border-fill: #6a0dad;
    --line-border-empty: #9370db;
}

*{
    box-sizing: border-box;
}

body{
    background-color: #301934;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    flex-direction: column;
}

.container{
    text-align: center;
}

.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 500px;
}

.progress-container::before{
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress{
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.circle{
    background-color: #d6cadd;
    /* color: #4e2a84; */
    border-radius: 50%;
    height: 80px;
    width: 80px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;
}

.circle.active{
    border-color: var(--line-border-fill);
    background-color: var(--line-border-fill);
}

.none-active .face{
    font-size: 40px;
    color: #4e2a84;
    display: flex;
}
.none-active .active-face{
    display: none;
}
.active .active-face{
    color: #4e2a84;
    display: flex;
}
.active .face{
    display: none;
}

/* .active-face{
    display: none;
}

.circle.active.face{
    display: none;
}

.circle.active.active-face{
    display: flex;
    font-size: 30px;
} */

.btn{
    background-color: var(--line-border-fill);
    color: #301934;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    padding: 10px 40px;
    margin: 5px 20px 5px 20px;
    font-size: 30px;
}

.btn:active{
    transform: scale(0.98);
}

.btn:focus{
    outline: 0;
}

.btn:disabled{
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}