@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    box-sizing: border-box;
}

body{
    background-color: #371b58;
    color: #fff;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.profile{
    background-color: #4c3575;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 30px 0;
    margin: 30px 0;
    box-shadow: 0 4px 8px rgba(51, 28, 78, 0.5),
                0 15px 40px rgba(52, 29, 80, 0.2);
}

.profile-input{
    width: 90%;
}
    
.profile-input input{
    background-color: #5b4b8a;
    color: #aa9ed0;
    width: 100%;
    border: none;
    border-radius: 10px;
    display: block;
    padding: 16px;
    margin-bottom: 32px;
    font-family: inherit;
    font-size: 16px;
    box-shadow: 0 3px 7px rgba(51, 28, 78, 0.05),
                0 5px 12px rgba(170, 63, 227, 0.1);
}
.profile-input input::placeholder{
    color: #aa9ed0; 
}
.profile-input input:hover,
.profile-input input:focus {
    outline: none;
}

#wait{
    display: block;
}

#card{
    display: flex;
}

.profile-card{
    width: 100%;
    background-color: transparent;
    display: flex;
    padding: 48px;
    margin: 0 10px;
    max-height: 300px;
}

.cat-frame{
	width: 120px;
	height: 120px;
	position: absolute;
}

.avatar {
    border-radius: 50%;
    border: 10px solid #371b58;
    height: 150px;
    width: 150px;
    display: block;
    position: relative; 
    margin-right: 30px; 
}
.avatar::before,
.avatar::after{
    position: absolute;
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 40px solid #371b58;
    border-radius: 5px;
}
.avatar::before{
    left: -25px;
    top: -18px;
    transform: rotate(-40deg);
}
.avatar::after{
    right: -25px;
    top: -18px;
    transform: rotate(40deg);
}

.user-info{
    color: #d4cdeb;
    margin-left: 30px;
}

.user-info h2{
    color: #e3def4;
    margin-top: 0;
}

.user-info ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    max-width: 400px;
}

.user-info ul li{
    display: flex;
    align-items: center;
}
  
.user-info ul li strong{
    color: #ada5c7;
    font-size: 14.4px;
    margin-left: 8px;
}

.repo{
    text-decoration: none;
    color: #a392da;
    background-color: #371b58;
    font-size: 11.2px;
    padding: 4px 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    display: inline-block;
}

@media (max-width: 500px){
    .card{
        flex-direction: column;
        align-items: center;
    }
  
    .user-form{
        max-width: 400px;
    }
}