@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    box-sizing: border-box;
}

body{
    background-color: #21162e;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.search{
    background-color: rgba(68, 19, 112, 0.3);
    color: #debefa;
    position: relative;
    height: 60px;
    margin: 5px;
    border-radius: 50%;
}

.search .input{
    background-color: rgba(68, 19, 112, 0.3);
    color: #debefa;
    border: 0;
    font-size: 20px;
    padding: 15px;
    height: 60px;
    width: 60px;
    transition: width 0.1s ease;
    border-radius: 10px;
    border-radius: 50%;
}

.search .input::placeholder{
    color: #debefa;
}

.btn{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    width: 60px;
    transition: transform 0.5s ease;
}

.btn:focus, 
input:focus{
    border-color: 2px solid #7c45ae;
    outline: none;
    color: #debefa;
}

.search.active{    
    color: #debefa;
    border-radius: 10px;
}

.search.active .input{
    width: 400px;
    color: #debefa;
    border-radius: 10px;
}

.search.active .input::placeholder{
    color: #debefa;
}

.search.active .btn{
    display: none;
}

.cat{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.cat i{
    position: absolute;
    display: block;
    list-style: none;
    animation: animate 25s linear infinite;
    bottom: -150px;    
}

.cat i:nth-child(1){
    left: 0%;
    font-size: 130px;
    animation-duration: 45s;
}
.cat i:nth-child(2){
    left: 10%;
    font-size: 80px;
    animation-delay: 5s;
    animation-duration: 10s;
}
.cat i:nth-child(3){
    left: 20%;
    font-size: 60px;
    animation-delay: 5s;
    animation-duration: 20s;
}

.cat i:nth-child(4){
    left: 30%;
    font-size: 75px;
    animation-delay: 2s;
    animation-duration: 15s;
}

.cat i:nth-child(5){
    left: 40%;
    font-size: 110px;
    animation-duration: 15s;
}

.cat i:nth-child(6){
    left: 50%;
    font-size: 85px;
    animation-duration: 35s;
}

.cat i:nth-child(7){
    left: 60%;
    font-size: 55px;
    animation-duration: 10s;
}

.cat i:nth-child(8){
    left: 70%;
    font-size: 90px;
    animation-delay: 5s;
    animation-duration: 35s;
}

.cat i:nth-child(9){
    left: 80%;
    font-size: 120px;
    animation-delay: 4s;
    animation-duration: 15s;
}

.cat i:nth-child(10){
    left: 90%;
    font-size: 100px;
    animation-delay: -1s;
    animation-duration: 40s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100%{
        transform: translateY(-1000px) rotate(-720deg);
        opacity: 0;
    }

}