@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    letter-spacing: 0.5px;
}

body{
    background-color: #060135;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.form-container{
    width: 800px;
    max-width: 100%;
    background-color: #120249;
    border-radius: 20px;
    box-shadow: 0px 2px 3px #190254,
                0px -2px 3px #190254,
                2px 0px 3px #190254,
                -2px 0px 3px #190254;
    overflow: hidden;
    position: relative;
    min-height: 500px;
}

.form-container h3{    
    color: #b9c4e8;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    text-transform: uppercase;
}

.form-container form{
    background-color: #120249;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.form-wrapper{
    position: absolute;
    top: 0;
    height: 100%;    
    transition: all 0.6s ease-in-out;
}

.box{
    margin: 15px 0;
    position: relative;
    width: 100%;
}

.box input{
    background-color: transparent;
    color: #b9c4e8;
    width: 100%;
    height: 100%;
    font-size: 14px;
    border: none;
    outline: none;
    border-bottom: 2px solid #463999;
    padding: 10px 40px;
}

.box input::placeholder{
    color: #463999;
}

.box input:focus{
    border-color: #b9c4e8;
}

.box input:focus::placeholder{
    color: #998bec;
}

.box i{
    padding: 10px;
    font-size: 22px;
    position: absolute;
}

.box i.password,
.box i.email,
.box i.user{
    transition: all 0.5s ease;
    left: 0;
    color: #463990;
}

.box i.pw-hid{
    right: 0;
    color: #463990;
    font-size: 18px;
    cursor: pointer;
}

.box input:focus ~ i.password,
.box input:focus ~ i.email,
.box input:focus ~ i.user,
.box input:hover ~ i.password,
.box input:hover ~ i.email,
.box input:hover ~ i.user{
    color: #b9c4e8;
}

.forget{
    color: #b9c4e8;
    margin-bottom: 10px;
    cursor: pointer;
    outline: none;
    background-color: transparent;
}

.forget:hover{
    text-decoration: underline;
}

.submit{
    font-size: 30px;
    font-weight: 600;
    background-color: #5966af;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #010733;
    transition: all 0.1s ease;
    border: 2px solid #5966af;
    margin-top: 10px;
    cursor: pointer;
}

.submit:hover{
    background-color: #6573c7;
    border: 2px solid #6573c7;
}

.submit:active{
    border: 2px solid #010733;
    background-color: #6573c7;
}

/* button.hidden{
    background-color: transparent;
    border: 2px solid transparent;
    border: 2px solid #010733;
} 

button.hidden:hover,
button.hidden:active{
    border: 2px solid transparent;
} */

.signup{
    left: 0;
    width: 50%;
    z-index: 2;
}

.form-container.active .signup{
    transform: translateX(100%);
}

.login{
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
}

.form-container.active .login{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.home-wrapper{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 120px 0 0 120px;
    z-index: 1000;
}

.form-container.active .home-wrapper{
    transform: translateX(-100%);
    border-radius: 0 120px 120px 0;
}

.home{
    background-color: #344290;
    background: linear-gradient(to right, #5c6bc0, #512da8);
    height: 100%;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.home h1{
    margin: 30px 0;   
    font-size: 40px;
    color: #120249;
    font-weight: 800;
    text-shadow: 1px 1px 2px #463999, 0 0 25px #463999, 0 0 5px #463999;
}

.home p{
    color: #010733;
}

.home button{
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 15px;
    font-weight: 500;
    border: 3px solid #010733;
    color: #010733;
    border-radius: 5px;
    width: 80px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 10px;
}

.home button:hover,
.home button:active{
    background-color: #010733;
    color: #344290;
}

.form-container.active .home{
    transform: translateX(50%);
}

.home-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.left{
    transform: translateX(-200%);
}

.form-container.active .left{
    transform: translateX(0);
}

.right{
    right: 0;
    transform: translateX(0);
}

.form-container.active .right{
    transform: translateX(200%);
}



/* - 1A0000 */